$mycolor: black;

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #ddd;
    margin: 50px;
    padding: 10px;
    
    h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: $mycolor;
        font-size: 30px;

    }

    p {
        color: $mycolor;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}