.header ul {
  @include inline-list();
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  li {
    background-color: black;
    padding: 10px;
    a {
      color: white;
      text-decoration: none;
    }
  }
}
